.env
.venv
*.session
*.whl
*.session-journal
__pycache__/

.venv/
.tvenv/
all_json
all_csv
historic-json

errors-in-channel
strategy-reports

TA_Lib-0.4.32-cp312-cp312-win_amd64.whl

test-all-strategies.csv
test-all-strategies.json

*/*/migrations/*.py
# Except the __init__.py files
!*/*/migrations/__init__.py

